<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AITMediaLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AITMediaLibrary.Properties.Settings>
            <setting name="AITMediaLibrary_Webservice_WebService" serializeAs="String">
                <value>http://localhost:64929/Webservice.asmx</value>
            </setting>
        </AITMediaLibrary.Properties.Settings>
    </applicationSettings>
</configuration>