<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DB_9AB8B7_5612ConnectionString"
            connectionString="Data Source=sql5028.mywindowshosting.com;Initial Catalog=DB_9AB8B7_5612;Persist Security Info=True;User ID=DB_9AB8B7_5612_admin;Password=7ktqjDRe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>